{% extends "base.html" %}

{% block content %}

<div class="container py-5">

	<h1 class="text-center">{{ categorie.nom }}</h1>
	
	<div class="row row-cols-1 row-cols-md-3 g-4 py-5 justify-content-center">
  			
  		{% for produit in produits %}

  			<div class="col d-flex justify-content-center">
  				
  				<div class="card text-bg-light  justify-content-center" style="width: 18rem;">
				  <img src="{{ produit.image_url }}" class="card-img-top" alt="..." style="height: 250px; object-fit: contain;">
				  <div class="card-body">

				    <h5 class="card-title">{{ produit.nom }}</h5>
				    {% if produit.categorie.nom == "Boissons" or produit.categorie.nom == "Lait" %}
				    	{% if produit.slug == "cristaline" or produit.slug == "lait_demi_ecreme" %}
				    		<p class="card-text">Description : 6 unité par pack</p>
				    	{%  else %}
				    		<p class="card-text">Description : 24 unité par pack</p>
				    	{% endif %}
				    	
				    {% elif produit.categorie.nom == "Creme" %}
				    	<p class="card-text">Description : 6 unité par pack</p>
				    {% else %}
				    	<p class="card-text">Description : A l'unité</p>
				    {% endif %}
				    
				  </div>
				  {% if user.is_authenticated %}
					  <div class="d-flex justify-content-around mb-3">
					  	
					  	<form method="POST" action="{% url 'add_to_cart' produit.slug %}">
				          {% csrf_token %}
				          {% if produit.slug == "huile_de_friture" %}
				          	<h3>{{ produit.prix|floatformat:2 }}€/L TTC</h3>
				          {% else %}
				          	<h3>{{ produit.prix|floatformat:2 }}€ TTC</h3>
				          {% endif %}
				          <input type="number" name="quantite" min="1" value="1" class="form-control" style="width: 70px; display: inline-block;">
				          <button type="submit" class="btn btn-danger">Ajouter</button>
				        </form>

					  </div>
				  {% endif %}
				</div>

  			</div>

  		{% endfor %}

  	</div>

</div>

{% endblock %}