{% extends "base.html" %}

{% block content %}

	{% if panier %}

		<div class="container">

			<p class="simple-heading-1">Votre panier</p>
			<hr>

			<table class="table">

				<thead>
					<tr>
						<th>Image</th>
						<th>Produit</th>
						<th>Prix</th>
						<th>Quantite Pack</th>
					</tr>
				</thead>

				<tbody>

					{% for commande in panier %}
					<tr>

						<td><img class="image rounded-circle" height="100px" width="100px" src="{{ commande.produit.image_url }}"></td>
						<td>{{ commande.produit.nom }}</td>
						<td>{{ commande.produit.prix|floatformat:2 }}€</td>
						<td>{{ commande.quantite }}</td>

					</tr>
					{% endfor %}

				</tbody>
			</table>
			
		</div>

		<div class="container d-flex justify-content-between align-items-center">

			<h3>Total : {{ montant_tot|floatformat:2 }}€</h3>

			<form method="POST">

				{% csrf_token %}

				<button type="submit" class="btn btn-danger btn-lg" name="valider_commande" value="good">Valider commande</button>
				
			</form>
		
			<a href="{% url 'panier_delete' %}">Vider le panier</a>

		</div>
		
	{% else %}

		<h2 class="text-center">Aucun produit dans votre panier...</h2>

	{% endif %}

{% endblock %}